.movieInfoContainer {
 margin-top: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 16px;
 @media (min-width: $small) {
    width: 50%;
   } 
}

#movieDescription {
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 0 20px;
}

#movieInformationContainer {
 margin-top: 20px;
 align-self: self-start;
 margin-left: 20px;
 display: flex;
 flex-direction: column;

}
.textMargin {
   margin-bottom: 10px;
}